body {
    background-image: linear-gradient(to right, #0869A6, #0388A6);
}
h1 {
    font-size: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-shadow: inset;
    color: #0c659c;
    text-align: center;
    text-shadow: 10px 10px 10px #0869A6;

}
h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #0869A6;
    font-weight: bold;
    font-size: 30px;
}
p {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    font-weight: 900;
}
div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1000px;
    padding: 65px;
    background-color: white;
    box-shadow: 25px 25px 35px #000000;
    border-radius: 150px;
}